<html>
<head>
<title>emoticons</title>
</head>
<body bgcolor="#666678" text="#000000" link="#333333" vlink="#333333" alink="#333333">
<table width="247" border="0">
  <font face="Arial, Helvetica, sans-serif" size="1"> 
  <tr> 
    <td width="40"><b><font face="Arial, Helvetica, sans-serif" size="2">:)</font></b></td>
    <td width="124"><img src="$DIR_EMOTICONS/$IMAGE_EMOTICON_GENERAL"></td>
  </tr>
  <tr> 
    <td width="40"><b><font face="Arial, Helvetica, sans-serif" size="2">:D</font></b></td>
    <td width="124"><img src="$DIR_EMOTICONS/$IMAGE_EMOTICON_BIGGRIN"></td>
  </tr>
  <tr> 
    <td width="40"><b><font face="Arial, Helvetica, sans-serif" size="2">:p</font></b></td>
    <td width="124"><font face="Arial, Helvetica, sans-serif" size="1"><font face="Arial, Helvetica, sans-serif" size="1"><img src="$DIR_EMOTICONS/$IMAGE_EMOTICON_TONGUE"><font face="Arial, Helvetica, sans-serif" size="2"></font></font></font></td>
  </tr>
  <tr> 
    <td width="40"><b><font face="Arial, Helvetica, sans-serif" size="2">;)</font></b></td>
    <td width="124"><font face="Arial, Helvetica, sans-serif" size="1"><img src="$DIR_EMOTICONS/$IMAGE_EMOTICON_SMILE4"></font></td>
  </tr>
  <tr> 
    <td width="40"><b><font face="Arial, Helvetica, sans-serif" size="2">8)</font></b></td>
    <td width="124"><img src="$DIR_EMOTICONS/$IMAGE_EMOTICON_COOL"></td>
  </tr>
  <tr> 
    <td width="40"><b><font face="Arial, Helvetica, sans-serif" size="2">:(</font></b></td>
    <td width="124"><img src="$DIR_EMOTICONS/$IMAGE_EMOTICON_SAD"></td>
  </tr>
  <tr> 
    <td width="40"><b><font face="Arial, Helvetica, sans-serif" size="2">:~(</font></b></td>
    <td width="124"><img src="$DIR_EMOTICONS/$IMAGE_EMOTICON_CRYING"></td>
  </tr>
  <tr> 
    <td width="40"><b><font face="Arial, Helvetica, sans-serif" size="2">:O</font></b></td>
    <td width="124"><font face="Arial, Helvetica, sans-serif" size="1"><img src="$DIR_EMOTICONS/$IMAGE_EMOTICON_REDFACE"></font></td>
  </tr>
  <tr> 
    <td width="40" height="33"><b><font size="2">><font face="Arial, Helvetica, sans-serif">:(</font></font></b></td>
    <td width="124" height="33"><font face="Arial, Helvetica, sans-serif" size="1"><img src="$DIR_EMOTICONS/$IMAGE_EMOTICON_MAD"></font></td>
  </tr>
  <tr> 
    <td width="40"><b><font face="Arial, Helvetica, sans-serif" size="2">???</font></b></td>
    <td width="124"><font face="Arial, Helvetica, sans-serif" size="1"><img src="$DIR_EMOTICONS/$IMAGE_EMOTICON_CONFUSED"></font></td>
  </tr>
  <tr> 
    <td width="40"><b><font face="Arial, Helvetica, sans-serif" size="2">:eyes</font></b></td>
    <td width="124"><font face="Arial, Helvetica, sans-serif" size="1"><font face="Arial, Helvetica, sans-serif" size="1"><img src="$DIR_EMOTICONS/$IMAGE_EMOTICON_EYES"></font></font></td>
  </tr>
  </font> 
</table>
</body>
</html>